/* var.css */
:root {
    --default-color: #00a381;
    --vp-c-brand-1: #00a381;
    --vp-c-brand-2: #00a381;
    --vp-c-brand-3: #00a381;
    --vp-custom-block-tip-bg: var(--vp-c-green-soft);
}

.dark {
    --vp-c-brand-1: #00a381;
    --vp-c-brand-2: #00a381;
    --vp-c-brand-3: #00a381;
}

h1 {
    color: #00a381;
}

.vp-doc a {
    text-decoration: none;
}

/* 提示框 */
.custom-block.tip {
    border-color: var(--vp-c-green-2);
}

/* 警告框 */
.custom-block.warning {
    border-color: var(--vp-c-yellow-2);
}

/* 危险框 */
.custom-block.danger {
    border-color: var(--vp-c-red-2);
}

/* 引用块 */
.vp-doc blockquote {
    border-radius: 5px;
    padding: 10px 16px;
    background-color: var(--vp-badge-danger-bg);
    position: relative;
    border-left: 4px solid #e95f59;
}

.auto-import {
    display: flex;
}